pip~=20.2.4
zlib~=1.2.11
wheel~=0.35.1
openssl~=1.1.1h
cryptography~=3.1.1
py~=1.9.0
lxml~=4.6.1
tornado~=6.0.4
keyring~=21.4.0
future~=0.18.2
zope~=1.0
typing_extensions~=3.7.4.3
markupsafe~=1.1.1
werkzeug~=1.0.1
jinja2~=2.11.2
click~=7.1.2
itsdangerous~=1.1.0
gevent~=20.9.0
cffi~=1.14.3
greenlet~=0.4.17
psutil~=5.7.2
backports~=1.0
protobuf~=3.15.8
pyparsing~=2.4.7
isodate~=0.6.0
importlib_metadata~=2.0.0
certifi~=2020.6.20
six~=1.15.0
idna~=2.10
urllib3~=1.25.11
chardet~=3.0.4
win_inet_pton~=1.1.0
ply~=3.11
pycparser~=2.20
requests~=2.24.0
colorama~=0.4.4
flask~=1.1.2
decorator~=4.4.2
setuptools~=50.3.1
cython~=0.29.23
docutils~=0.16
filelock~=3.0.12